<h1>Welcome to the users homepage</h1>

<table>
	<thead>
		<tr>
			<th>id</th>
			<th>Name</th>
			<th>Age</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
			  <td><a href="/users/<%= user[:id] %>"><%= user[:id] %></a></td>
			  <td><%= user[:first_name] %> <%= user[:last_name] %></td>
			  <td><%= user[:age] %></td>
			</tr>
		<% end %>
	</tbody>
</table>

